# This is a basic workflow to help you get started with Actions
name: CI
# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        options:
          - mrtest
          - mrprod
          - qhtest
          - qhvalidation
          - qhpreprod
          - qhprod
      tag:
        type: string
        default: latest
  push:
    branches:
      - master
      - dev
    tags: 
      - '*'
  release:
    types: [ published ]
jobs:
  # This workflow contains a single job called "build"
  build-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: Run a one-line script
        if: ${{ github.event_name == 'release'}}
        run: echo Run from Test
  build-validation:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: Run a one-line script
        if: ${{ github.event_name == 'release'}}
        run: echo Run from Validation
  build-default:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Run from ${{ toJson(github) }}
